<div class="about-wrapper">
  <div class="about-content">
    <h1>About Flixter</h1>
    <%= image_tag 'john-ellison.jpg', class: 'headshot' %>
    <p>
      Flixter was made by <a href="http://john-ellison.com">John Ellison</a> during <a href="http://thefirehoseproject.com">The Firehose Project</a>, a <a href="http://rubyonrails.org/">Ruby on Rails</a> bootcamp.
    </p>
    <p>This is not a real application, but is an MVP for a possible online education startup that helps creatives launch successful freelance careers.</p>
    <p>
      Feel free to contact John at <a href="mailto:john@john-ellison.com">john@john-ellison.com</a> if you have any questions or comments.
    </p>
  </div>
</div>