<%= render 'refills/hero' %>
<section class='features' id='features'>
  <%= render 'refills/icon_bullet_points' %>
</section>
<%= render 'refills/device' %>
<%= render 'refills/fade_in' %>

<script>
  $('a').smoothScroll();
</script>