/* line 4, /Users/johnellison/.rvm/rubies/ruby-2.2.0/lib/ruby/gems/2.2.0/gems/neat-1.7.1/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, /Users/johnellison/.rvm/rubies/ruby-2.2.0/lib/ruby/gems/2.2.0/gems/neat-1.7.1/app/assets/stylesheets/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 6, /Users/johnellison/Dropbox/John/Working/Sites/flixter/app/assets/stylesheets/static_pages.scss */
.welcome-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 9, /Users/johnellison/.rvm/rubies/ruby-2.2.0/lib/ruby/gems/2.2.0/gems/bourbon-4.1.1/app/assets/stylesheets/addons/_clearfix.scss */
.welcome-container::after {
  clear: both;
  content: "";
  display: table;
}

/* line 10, /Users/johnellison/Dropbox/John/Working/Sites/flixter/app/assets/stylesheets/static_pages.scss */
.welcome-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 87, /Users/johnellison/.rvm/rubies/ruby-2.2.0/lib/ruby/gems/2.2.0/gems/neat-1.7.1/app/assets/stylesheets/grid/_span-columns.scss */
.welcome-content:last-child {
  margin-right: 0;
}

/* line 14, /Users/johnellison/Dropbox/John/Working/Sites/flixter/app/assets/stylesheets/static_pages.scss */
h1 {
  display: none;
}

/* line 6, /Users/johnellison/Dropbox/John/Working/Sites/flixter/app/assets/stylesheets/application.scss */
h1 {
  display: none;
}
