<div class="new-section-form-wrapper">
  <div class="new-section-form-content">
   <hgroup>
     <h1>Create New Section</h1>
     <p>for</p>
     <h3><%= @course.title %></h3>
   </hgroup>
    <%= simple_form_for @section, url: teacher_course_sections_path(@course) do |f| %>
      <%= f.input :title %>
      <%= f.submit 'Create Section', class: 'add-section' %>
    <% end %>
  </div>
</div>