<div class="show-course-wrapper">
  <div class="show-course-content">
    <!-- Course Info -->
    <%= render 'courses/info' %>

    <!-- Preview as student -->
    <%= link_to 'Preview Course', course_path(@course), class: 'preview-course' %>

    <!-- Add a section to this course -->
    <%= link_to 'Add Section', new_teacher_course_section_path(@course), class: 'add-section' %>

    <!-- List Course Sections -->
    <%= render 'courses/sections' %>

  </div>
</div>