<div class="lesson-show-wrapper">
  <div class="lesson-show-content">
   <hgroup>
      <h1><%= current_lesson.title %></h1>
     <h3><%= current_lesson.subtitle %></h3>
     <p><%= link_to 'Video', current_lesson.video.to_s %></p>
   </hgroup>

  </div>
</div>