<div class="lesson-show-wrapper">
  <div class="lesson-show-content">
   <hgroup>
      <h1><%= current_lesson.title %></h1>
     <h3><%= current_lesson.subtitle %></h3>
   </hgroup>
   <video id="MY_VIDEO_1" class="video-js vjs-default-skin vjs-big-play-centered" controls
    preload="auto" width="1000" height="412" poster="/assets/black.jpg"
    data-setup="{}">
    <source src="<%= current_lesson.video.to_s %>" type='video/mp4'>
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
   </video>

  </div>
</div>