<h1 class="course-title"><%= @course.title %></h1>
<img src="http://placehold.it/1000x450" alt="">
<p class="course-description"><%= @course.description %></p>
<p class="course-cost">Cost: $<%= @course.cost %></p>
