<h1 class="course-title"><%= current_course.title %></h1>
<img src="http://placehold.it/1000x450" alt="">
<p class="course-description"><%= current_course.description %></p>
<p class="course-cost">Cost: $<%= current_course.cost %></p>
