<div class="show-course-wrapper">
  <div class="show-course-content">
    <!-- Course Info -->
    <%= render 'courses/info' %>

    <% if current_user && current_user == current_course.user %>
    <div class="teacher-panel-wrapper">
      <%= link_to 'Access Teacher Panel', teacher_course_path(current_course), class: 'button secondary' %>
    </div>
    <% else %>
    <div class="student-panel-wrapper">
      <%= link_to 'Enroll in Course', course_enrollments_path(current_course), class: 'button', method: :post %>
    </div>
    <% end %>

    <hr>

    <!-- List Course Sections -->
    <%= render partial: 'courses/sections_list', locals: { include_add_lesson: false } %>

  </div>
</div>