// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Index
.courses-index-wrapper {
  @include outer-container;
  padding: 3em 0;
}

.courses-index-content {
  @include span-columns(10);
  @include shift(1);
  h1, h2 {
    text-align: center;
  }
  @include media($large-screen-up) {
    @include span-columns(12 of 12);
    @include shift(0);
  }
}

// Course Card Module
li.course-card {
  padding: 1em 1.5em;
  border: 1px solid gray;
  border-radius: $base-border-radius;
  margin-bottom: 1em;
  @include fill-parent;

  @include media($medium-screen-up) {
    @include span-columns(6);
    // @include shift(0);
    @include omega(2n);
    margin-bottom: 2em;
  }

  @include media($large-screen-up) {
    @include omega-reset(2n);
    @include span-columns(4);
    @include omega(3n);
  }
  
}

.course-card--title {
  // text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 1px;
  a {
    color: $base-font-color;
  }
}

.course-card--description {
  // background-color: $light-gray;
}

a.button {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

// Show
.show-course-wrapper {
  @include outer-container;
  padding: 3em 0;
}

.show-course-content {
  @include span-columns(10);
  @include shift(1);
  h1 {
    text-align: center;
  }
  .button {
    width: 100%;
    text-align: center;
  }
}

a.teacher-panel {
  @include button();
}

.course-cost {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

// Course Sections
.course-sections-list {
  margin: 2em 0;
}

.course-section-list--item { 
  @include outer-container;
  margin-bottom: 2em;
  padding: 1em 1.5em;
  border: 1px solid $base-font-color;
  border-radius: $base-border-radius;
  .button {
    width: 100%;
    text-align: center;
  }
}

.course-section--id {
  margin: 0;
}

.course-section--title {
  font-weight: 300;
}

// Section Lessons

.section-lessons-list {
  margin: 2em 0;
}

.section-lesson-list--item {
  margin-bottom: 1em;
  @include media($medium-screen-up) {
    @include span-columns(4);
    @include omega(5n);
  }
}

.section-lesson--title {
  margin: 0;
}

a > .section-lesson--subtitle {
  color: $base-font-color;
  &:hover {
    color: lighten($base-font-color, 15%)
  }
}

