.devise-form-wrapper {
  @include outer-container;
  padding: 3rem 0;
}

.devise-form-content {
  @include span-columns(10);
  @include shift(1);
  @include media($medium-screen-up) {
    @include span-columns(8 of 12);
    @include shift(2);
  }
  @include media($large-screen-up) {
    @include span-columns(6 of 12);
    @include shift(3);
  }
  h2 {
    text-align: center;
  }
  label {
    // margin-bottom: 0;
    display: inline
  }
  .min-pass-chars {
    display: inline;
  }
  input[type='submit'] {
    margin: 1rem 0;
  }
}

span.error {
  @include flash($error-color);
}