<div class="device-background">
  <div class="device-text">
    <h4>Courses Available On The Go</h4>
    <p>We've employed some of the finest designers and developers to build an experience that thrives on all devices, so that you can spark your freelance career in the context that works best for you. Whether you're waiting in line for a coffee and want to read through your mentor's feedback, or whether you want to unwind to curriculum videos on your couch, the experience is made for you.</p>
    <button>Learn More</button>
  </div>
  <div class="device">
    <div class="screen"></div>
  </div>
</div>
