<div class="narrative-container">
  <div class="narrative-content">
    <div id="js-fadeInElement" class="fade-in-element">
      <h3>Join Freelancers From Around The World</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam corporis cumque natus recusandae nihil in, impedit quo facere cupiditate tempore ipsum a reprehenderit hic quam quia eaque, perspiciatis officia, nam.
    </div>
  </div>
  <div class="narrative-content odd">
    <div id="js-fadeInElement" class="fade-in-element">
      <h3>Apprentice Under A Freelance Veteran</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dignissimos aperiam doloribus, tempora et magni totam repellat, aliquam suscipit soluta tenetur odio repellendus est, dolore. Cum dolorum labore fugiat aspernatur.
    </div>
  </div>
  <div class="narrative-content">
    <div id="js-fadeInElement" class="fade-in-element">
      <h3>Another Awesome Paragarph Heading</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam corporis cumque natus recusandae nihil in, impedit quo facere cupiditate tempore ipsum a reprehenderit hic quam quia eaque, perspiciatis officia, nam.
    </div>
  </div>
  <div class="narrative-content odd">
    <div id="js-fadeInElement" class="fade-in-element">
      <h3>Apprentice Under A Freelance Veteran</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dignissimos aperiam doloribus, tempora et magni totam repellat, aliquam suscipit soluta tenetur odio repellendus est, dolore. Cum dolorum labore fugiat aspernatur.
    </div>
  </div>
</div>
  