<!-- <div class="flash-success">
  <span>This is a success message <a href="#">with a link</a></span>
</div>

<div class="flash-error">
  <span>This is an error message <a href="#">with a link</a></span>
</div> -->
<% if notice.present? %>
  <div class="flash-notice">
    <span><%= notice %></span>
  </div>
<% end %>

<% if alert.present? %>
  <div class="flash-alert">
    <span><%= alert %></span>
  </div>
<% end %>
