<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
    <ul>
      <li>
        <%= link_to 'Create a Course', new_teacher_course_path, class: 'button secondary' %>
      </li>
    </ul>

    <div class="footer-secondary-links">
      <ul class="footer-social">
        <li><a href="facebook.com/je4light">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="https://twitter.com/iamjohnellison">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
      </ul>
    </div>
</footer>
