<div class="hero">
	<div class="hero-inner">
    <%= link_to courses_path do %>
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image">
    <% end %>
		<div class="hero-copy">
			<h1>Craft Your Ticket To Freedom</h1>
			<p>
        Learn how to do what you love
        (from anywhere in the world&mdash;
        whenever you want)
        and make bank while doing it.
      </p>	
		</div>
    <a href="#features"><button>Learn More</button></a>
	</div>
</div>
