<ul class="bullets">
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
" alt="">
    </div>
    <div class="bullet-content">
      <h2>Instruction</h2>
      <p>Learn from world-class freelancers around the world. Our full-time mentors have over 60 years of combined freelancing experience. They have worked around the world for some of the world's biggest companies. Our mentors are passionate about empowering other freelancers to do what they love for a living.</p>
      </div>
  </li>  
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Apprenticeship</h2>
      <p>Take the information you learn from instruction to the next level with a one-on-one apprenticeship. You will be able to hand-pick your mentor from a list of the world's top freelancers. Learn from masters of their trade and sharpen your skills along the way. You'll be a confident freelancer ready to work full-time as soon as you graduate.</p>
    </div>
  </li>
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Immersion</h2>
      <p>Learning by instruction and apprenticeship is finished off with full-time immersion. Our freelance bootcamp is a 40-hour per week engagement which will immerse you in a community of freelancers from around the world. You will learn by immersion from the best that freelancing has to offer. Expect to be fully fluent in 'freelance' by the time you graduate.</p>
    </div>
  </li> 
</ul>
